<h1>The author that you want to find</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class="table table-stripped table-condensed">
        <tr>
          <th>Name:</th>
          <td><%= @author.name %></td>
        </tr>
        <tr>
          <th>Date of Birth</th>
          <td><%= @author.DoB %></td>
        </tr>
        <tr>
          <th>Date of Death</th>
          <td><%= @author.DoD %></td>
        </tr>
      </table>
    </div>
  </div>
</div>